<server description="Map application for EDA reference architecture">

  <featureManager>
      <feature>jaxrs-2.1</feature>
  </featureManager>

  <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint" host="*" />

  <webApplication location="rest.war" contextRoot="/"/>
</server>
